.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cell {
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.row {
    display: flex;
}    

.logoImg {
    width: 227px;
    height: 22px;
    display: block;
    margin: 20px auto 40px auto;    
}

.logoImg:hover {
    opacity: 0.75;
}