.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cell {
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    border-radius: 4px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.row {
    display: flex;
}    

.logoImg {
    width: 227px;
    height: 22px;
    display: block;
    margin: 20px auto 40px auto;    
}

.logoImg:hover {
    opacity: 0.75;
}

.blink_me {
    animation: blinker 0.5s step-start 1;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .key {
    margin: 0 2px;
    padding: 10px;
    font-size: 16px;
}

.row {
    display: flex;    
    justify-content: center;
    align-items: center;
}

#keyboard {
    margin-top: 20px;
}

#row-1 {
    margin: 6px 0;
}

@media only screen and (max-width: 450px) {
    .key {
        margin: 0 1px;
        padding: 5px;
        font-size: 16px;
    }
    /* #keyboard {
        margin: 20px 5px 0 5px;
    } */
  }