.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cell {
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    border-radius: 4px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.row {
    display: flex;
}    

.logoImg {
    width: 227px;
    height: 22px;
    display: block;
    margin: 20px auto;    
}

.logoImg:hover {
    opacity: 0.75;
}

.blink_me {
    animation: blinker 0.5s step-start 1;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.key {
    margin: 0 3px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    -webkit-appearance: none;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.key:hover {
    opacity: 0.5;
}

#enter {
    width: 100px;
}

.row {
    display: flex;    
    justify-content: center;
    align-items: center;
}

#keyboard {
    margin-top: 20px;
}

#row-1 {
    margin: 8px 0;
}

#stats {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.item {
    text-align: center;
    padding: 7px;
}

#instructions {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: auto;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 14px;
    text-align: justify;
}

@media screen and (max-width: 450px) {
    h {
        font-size: 19px;
    }
    p {
        font-size: 12px;
    }
}
